<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/solar/bootstrap.min.css" rel="stylesheet"
 integrity="sha384-8nq3OiMMgrVFAHyRMMO+DTfMEciSY+c3Awhj/5ljQ1xck1Uv2BUtMjsjLD8GT5Er" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" rel="stylesheet">

<link rel="stylesheet" href="static/index.css" />
<title>Fast.ai - Monty - Farm Animals - Duc Haba</title>
</head>
<body>
 <div class="container-fluid">
  <div class="row">
   <div class="col-md icard-1">
    <div class="card text-white bg-info mb-3 icard">
     <div class="card-header lead"><i class="fas fa-robot target-answer"></i> What is the farm animal?</div>

     <div class="target-img-parent card-body">
      <div id="card-1-target-img" class="target-img rounded" style=""></div>
     </div>
     <div class="card-footer">
      <!-- farm-animals_NkUj.pkl , pets_A9032.pkl -->
      <div class="input-group">
       <div class="custom-file">
        <form id="card-1-form" method="post" action="/analyze">
         <input type="hidden" name="model_name" value="pets_A9032.pkl" /> <input type="file"
          accept="image/gif, image/jpeg, image/png" name="file" class="custom-file-input" id="card-1-upload" />
        </form>
        <label class="custom-file-label no-overflow" for="card-1-upload" id="card-1-filename"><i
         class="fa fa-paw"></i> Choose file</label>
       </div>
       <div class="input-group-append">
        <button class="btn btn-warning disabled" type="button" id="card-1-check-it">
         <i class="fab fa-odnoklassniki"></i> Check It
        </button>
       </div>
      </div>
     </div>

     <!--  -->
     <div class="card-body">
      <div class="card-title text-center">
       <span><small>The answer is:</small></span> <span class="answer h3 target-answer" id="card-1-answer">?</span>
      </div>
     </div>

     <!--  -->

    </div>
   </div>
   <!--  -->
  </div>
 </div>
 <!-- add javascripts -->
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 <!-- then custom js -->
 <script src='../static/index.js'></script>

</body>
</html>
