.icard {
 margin: 1rem 10%;
}
.no-overflow {
 overflow: hidden;
}
.target-img-parent {
 
}

.target-img {
/* width: 100%; */
 min-height: 10rem;
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}
.target-answer {
     background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    padding: 1rem;
    margin-left: 1rem;
    display: inline-block;
}